body {
    font-family: sans-serif;
    background: #0000AA;
    color: white;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

select {
    width: 100%;
    padding: 10px;
    background: #0000AA;
    color: white;
    border: 2px solid white;
}

video {
    width: 100%;
    margin-top: 20px;
    border: 2px solid white;
}

#guide-wrapper {
    overflow-x: auto;
    border: 2px solid white;
}

#guide {
    min-width: 1500px;
}

.guide-row {
    display: grid;
    grid-template-columns: 180px repeat(12,120px);
    border-top: 1px solid white;
}

.program {
    padding: 10px;
    border-right: 1px solid white;
}
